SoaDemo.Web/Service References/ProductService/ProductService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProductService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:34271/ProductService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:34271/ProductService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:34271/ProductService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SoaDemo.Services.Common.DataContracts" />
      <xsd:import schemaLocation="http://localhost:34271/ProductService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProductService_GetCog_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCog" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetCog_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCogResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_SaveCog_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveCog" />
  </wsdl:message>
  <wsdl:message name="IProductService_SaveCog_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveCogResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_DeleteCog_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCog" />
  </wsdl:message>
  <wsdl:message name="IProductService_DeleteCog_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCogResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetSprocket_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSprocket" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetSprocket_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSprocketResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_SaveSprocket_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveSprocket" />
  </wsdl:message>
  <wsdl:message name="IProductService_SaveSprocket_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveSprocketResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_DeleteSprocket_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSprocket" />
  </wsdl:message>
  <wsdl:message name="IProductService_DeleteSprocket_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSprocketResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetWidget_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWidget" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetWidget_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWidgetResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_SaveWidget_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveWidget" />
  </wsdl:message>
  <wsdl:message name="IProductService_SaveWidget_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveWidgetResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_DeleteWidget_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteWidget" />
  </wsdl:message>
  <wsdl:message name="IProductService_DeleteWidget_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteWidgetResponse" />
  </wsdl:message>
  <wsdl:portType name="IProductService">
    <wsdl:operation name="GetCog">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/GetCog" message="tns:IProductService_GetCog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/GetCogResponse" message="tns:IProductService_GetCog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveCog">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/SaveCog" message="tns:IProductService_SaveCog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/SaveCogResponse" message="tns:IProductService_SaveCog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCog">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/DeleteCog" message="tns:IProductService_DeleteCog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/DeleteCogResponse" message="tns:IProductService_DeleteCog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSprocket">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/GetSprocket" message="tns:IProductService_GetSprocket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/GetSprocketResponse" message="tns:IProductService_GetSprocket_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveSprocket">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/SaveSprocket" message="tns:IProductService_SaveSprocket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/SaveSprocketResponse" message="tns:IProductService_SaveSprocket_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSprocket">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/DeleteSprocket" message="tns:IProductService_DeleteSprocket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/DeleteSprocketResponse" message="tns:IProductService_DeleteSprocket_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWidget">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/GetWidget" message="tns:IProductService_GetWidget_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/GetWidgetResponse" message="tns:IProductService_GetWidget_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveWidget">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/SaveWidget" message="tns:IProductService_SaveWidget_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/SaveWidgetResponse" message="tns:IProductService_SaveWidget_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteWidget">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/DeleteWidget" message="tns:IProductService_DeleteWidget_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/DeleteWidgetResponse" message="tns:IProductService_DeleteWidget_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProductService" type="tns:IProductService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCog">
      <soap:operation soapAction="http://tempuri.org/IProductService/GetCog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveCog">
      <soap:operation soapAction="http://tempuri.org/IProductService/SaveCog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCog">
      <soap:operation soapAction="http://tempuri.org/IProductService/DeleteCog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSprocket">
      <soap:operation soapAction="http://tempuri.org/IProductService/GetSprocket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveSprocket">
      <soap:operation soapAction="http://tempuri.org/IProductService/SaveSprocket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSprocket">
      <soap:operation soapAction="http://tempuri.org/IProductService/DeleteSprocket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWidget">
      <soap:operation soapAction="http://tempuri.org/IProductService/GetWidget" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveWidget">
      <soap:operation soapAction="http://tempuri.org/IProductService/SaveWidget" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteWidget">
      <soap:operation soapAction="http://tempuri.org/IProductService/DeleteWidget" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProductService">
    <wsdl:port name="BasicHttpBinding_IProductService" binding="tns:BasicHttpBinding_IProductService">
      <soap:address location="http://localhost:34271/ProductService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>